<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/Admin.css">
</head>
<body>
    <nav class="nav">
        <ul class="list">
            <li><a href="/">Shop</a></li>
            <li><a href="/Admin/add-product">Add Product</a></li>
            <li><a href="/contactus">Contact us</a></li>
        </ul>
    </nav>
    <main class="main">
        <form class="form" action="/contactus" method='POST'>
            <label>Name</label>
            <input type="text" name="Name"/>
            <label>email</label>
            <input type="email" name="Size"/>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>